.HomePage {

}

.HomePage .coverContainer {
    margin-bottom: 100px;
}

.HomePage .coverDiv {
     height: auto;
     width: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position:center;
     background-image: url(../../assets/images/home.webp);
     color: white;
     font-family: 'Castoro', serif;
     font-size: 6.6rem;
     font-weight: 600;
     left: 16px;
     line-height: 1;
     padding: 30px;
     word-spacing:10px;
}

.HomePage h1 {
    font-size: 3rem;
}

@Media (max-width: 767px) {
    .HomePage .coverDiv {
        font-size: 5rem;
    }

    .HomePage h1 {
        font-size: 2rem;
    }

    .HomePage h2 {
        font-size: 1.5rem;
    }
}

@Media (max-width: 480px) {
    .HomePage .coverDiv {
        font-size: 3rem;
    }

}

.HomePage hr {
    border-style: none;
    border-top-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.HomePage .recommendBook {
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}


