.LenderTable {
    overflow-x: scroll;
}

/*@media (max-width: 800px) {*/
/*    .LenderTable {*/
/*        font-size: 80%;*/
/*    }*/
/*}*/

.bookDescriptionText {
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px;
    line-height:20px; /* Height / no. of lines to display */
    padding: 1px;
}

