.LendingSummary {
    padding: 10%;
}

@media (max-width: 500px) {
    .LendingSummary h1 {
        font-size: 2rem;
    }
}

.LendingSummary .line {
    text-align: center;
    margin: 30px auto 40px;
    height: 13px;
    border-bottom: 1px solid;
    border-bottom-style: dashed;
    border-color: red;
    overflow: visible;
}

.LendingSummary .heading{
    text-align: center;
}

.LendingSummary .condtionLabel {
    margin-top: 10px;
    margin-bottom: 0;
    color: #3c3c3c;
}