.SearchBook {

}
.SearchBook .searchBookResult{
    padding: 0px;
    background-color: #0e345a;
    margin-top: 20px;
    margin-bottom: 20px;
}
.SearchBook .hide .detailButton{
    background-color: #0e345a;
    border: steelblue;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}
.SearchBook .bookTitle {
    text-align: center;
    margin-top: 10px;
}
.SearchBook h4 {
    text-align: center;
    /*margin-left: 50px;*/
    margin-top: 10px;
}
.SearchBook .searchBar {
    margin-bottom: 20px;
}

.SearchBook .imageCard:hover + .hide {
    opacity: 100;
}
.SearchBook .hide {
    opacity: 0;
}
.SearchBook .hide:hover {
    opacity: 100;
}











