.SearchBook {
}
.SearchBook .searchBookResult{
    padding: 0px;
    background-color: #ebebeb;
    margin-top: 20px;
    margin-bottom: 20px;
}
.SearchBook .detailButton {
    background-color: steelblue;
    border: steelblue;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}
.SearchBook .bookTitle {
    /*height: 50px;*/
    text-align: center;
    margin-top: 10px;
}
.SearchBook h4 {
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
}
.SearchBook .searchBar {
    margin-bottom: 20px;
}
