header a,
header .logOutButton{
    color: #0e345a;
    font-weight: 400;
    font-size: 115%;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    padding-top: 5px;
}

header .logOutButton{
    background: none;
    border: none;
    margin-top: 2px;
}

header .searchBar {
    width: 25%;
    max-width: 500px;
    min-width: 200px;
}

@media (max-width: 992px) {
    header .searchBar {
        width: 60%;
        max-width: none;
        margin: 0 auto;
    }
    header .logOutButton{
        margin: auto
    }
}

@media (max-width: 480px) {
    header .searchBar {
        width: 100%;
        max-width: none;
    }
}

header button:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
