.BookDetail{
    width: 80%;
    margin:50px auto auto auto;
    padding: 30px;
}

.BookDetail hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.BookDetail .ratingFont{
    font-size: 90%;
    margin-left: 10px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: grey
}

.BookDetail .navIconDisabled {
    color: grey;
    margin-bottom: 3px;
}

.BookDetail .navIcon{
    color: #0e345a;
    margin-bottom: 3px;
}